prefix               = "ryanbupa"
environment          = "prod"
location             = "australiaeast"
allowed_locations    = ["australiaeast", "global"]
policy_effect        = "Deny"
alert_email_address  = "you@example.com"
budget_contact_email = "you@example.com"
budget_amount        = 100
timezone             = "AUS Eastern Standard Time"
enable_ops_extension = false

default_tags = {
  owner      = "ryan"
  environment = "prod"
  costCentre = "cloudops-lab"
  project    = "secure-cloud-baseline-lab"
  managedBy  = "terraform"
}
